<ion-navbar *navbar>
    <button menuToggle *ngIf="!selectedItem">
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
</ion-navbar>

<ion-content>
    <section class="info">
        <button *ngIf="!typeFavorite" (click)="toggleFavorite(objectDetails)">{{ toggleText }}</button>
        <h4>{{ objectDetails.title }}</h4>

        <p>{{ objectDetails.price_formatted }}</p>

        <img [src]="objectDetails.img_url">

        <p>bedroom: {{ objectDetails.bedroom_number }}</p>

        <p>bathroom: {{ objectDetails.bathroom_number }}</p>

        <p>
            {{ objectDetails.summary }}
        </p>
    </section>
</ion-content>