<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Property Cross</ion-title>
</ion-navbar>

<ion-content>
    <div padding>
        <h3>Our API is a programmtic interface for you to access the Nestoria database.!</h3>

        <p>
            We don't have all the answers. There are many opinions about the best way to search for property.
            We're curious to see what ideas you have. Our hope is that the API will let you use the data in ways
            that we have not thought of. Feel free to amaze us.
        </p>
        <h5>The API is very much a work in progress</h5>
        <p>
            Follow along on the tutorial section of the Ionic docs!
        </p>
        <p>
            <button primary menuToggle>Toggle Menu</button>
        </p>
    </div>

    <form padding name="searchForm" (ngSubmit)="find()">
        <input type="text" name="search"  class="form-control" required [(ngModel)]="searchRequest">
        <input type="submit" value="OK">
    </form>

    <ion-list *ngIf="showRecentSearches" class="list-recent-searches">
        <ion-item ion-item *ngFor="let item of recentSearches">
            <p (click)="goOnRequest(item.request)">{{ item.request }} <span>({{ item.length }})</span></p>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="!showRecentSearches" class="list-objects">
        <ion-item ion-item *ngFor="let item of properties" (click)="showProperty($event, item)">
            <p>{{ item.title }}</p>
        </ion-item>

        <button [disabled]="processLoad" class="pagination" (click)="prev()">Prev</button>
        <button [disabled]="processLoad" class="pagination" (click)="next()">Next</button>
    </ion-list>
</ion-content>